<h1>Table of Contents<span class="tocSkip"></span></h1>
<div class="toc"><ul class="toc-item"><li><span><a href="#EDA-&amp;-A/B-Testing-Analysis" data-toc-modified-id="EDA-&amp;-A/B-Testing-Analysis-1"><span class="toc-item-num">1&nbsp;&nbsp;</span>EDA &amp; A/B Testing Analysis</a></span><ul class="toc-item"><li><span><a href="#Q.-Does-the-new-ad-generate-more-responses-to-their-questionnaire?-Is-it-statistically-significant?-Is-the-company-justified-in-using-the-new-ad?" data-toc-modified-id="Q.-Does-the-new-ad-generate-more-responses-to-their-questionnaire?-Is-it-statistically-significant?-Is-the-company-justified-in-using-the-new-ad?-1.1"><span class="toc-item-num">1.1&nbsp;&nbsp;</span>Q. Does the new ad generate more responses to their questionnaire? Is it statistically significant? Is the company justified in using the new ad?</a></span></li><li><span><a href="#Executive-Summary" data-toc-modified-id="Executive-Summary-1.2"><span class="toc-item-num">1.2&nbsp;&nbsp;</span>Executive Summary</a></span></li><li><span><a href="#Data-Exploration" data-toc-modified-id="Data-Exploration-1.3"><span class="toc-item-num">1.3&nbsp;&nbsp;</span>Data Exploration</a></span><ul class="toc-item"><li><span><a href="#Initial-Data-Exploration" data-toc-modified-id="Initial-Data-Exploration-1.3.1"><span class="toc-item-num">1.3.1&nbsp;&nbsp;</span>Initial Data Exploration</a></span></li><li><span><a href="#Exploratory-Data-Analysis" data-toc-modified-id="Exploratory-Data-Analysis-1.3.2"><span class="toc-item-num">1.3.2&nbsp;&nbsp;</span>Exploratory Data Analysis</a></span></li></ul></li></ul></li><li><span><a href="#Description-of-variables" data-toc-modified-id="Description-of-variables-2"><span class="toc-item-num">2&nbsp;&nbsp;</span>Description of variables</a></span></li></ul></div>

## EDA & A/B Testing Analysis

To:&nbsp;&nbsp;&nbsp;&nbsp; Magnimind

From: Matt Curcio, matt.curcio.ri@gmail.com

Date: 2022-10-25

Re:&nbsp;&nbsp;&nbsp; Advertisement AB Testing

---

Introduction

The objective of this project is to examine the effects of user engagement after seeing Ad A or Ad B.

Problem
An advertising company has developed a new ad to have users engage with their questionnaire. The company has shown the new ad to some users and a dummy ad to others and wants their data analyst team to interpret the results. 

### Q. Does the new ad generate more responses to their questionnaire? Is it statistically significant? Is the company justified in using the new ad? 


### Executive Summary



The experiment was carried out in July 3-10, 2020. (Friday to Friday)

### Data Exploration

#### Initial Data Exploration

1. Dataframe dimensions:  8077 Observations & 9 features, 

   Features include:
  1. auction_id
  2. experiment; control/exposed
  2. date
  3. hour
  4. device_make
  5. platform_os
  6. browser
  7. yes
  8. no


2. The first column is 'auction_id'. The 'Auction ID' will not be investigated for this study.

3. The experiment was carried out in July 3-10, 2020.

4. The dataset has zero null-values and zero NA-values.

In [1]:
import numpy as np
import pandas as pd

import zipfile

In [2]:
!ls

'AB Testing Project 1.ipynb'  'AdSmartABdata - AdSmartABdata.csv'   archive.zip

In [3]:
zip_file = "archive.zip"
 
try:
    with zipfile.ZipFile(zip_file) as z:
        z.extractall()
        print("Extracted all")
except:
    print("Invalid file")

Extracted all

In [4]:
!ls

'AB Testing Project 1.ipynb'  'AdSmartABdata - AdSmartABdata.csv'   archive.zip

In [5]:
filename = "AdSmartABdata - AdSmartABdata.csv"
ab = pd.read_csv(filename)

print('\nDataframe dimensions: ', ab.shape[0], 'Observations &' , ab.shape[1], 'features')
ab.head()

Dataframe dimensions:  8077 Observations & 9 features

,auction_id,experiment,date,hour,device_make,platform_os,browser,yes,no
0,0008ef63-77a7-448b-bd1e-075f42c55e39,exposed,2020-07-10,8,Generic Smartphone,6,Chrome Mobile,0,0
1,000eabc5-17ce-4137-8efe-44734d914446,exposed,2020-07-07,10,Generic Smartphone,6,Chrome Mobile,0,0
2,0016d14a-ae18-4a02-a204-6ba53b52f2ed,exposed,2020-07-05,2,E5823,6,Chrome Mobile WebView,0,1
3,00187412-2932-4542-a8ef-3633901c98d9,control,2020-07-03,15,Samsung SM-A705FN,6,Facebook,0,0
4,001a7785-d3fe-4e11-a344-c8735acacc2c,control,2020-07-03,15,Generic Smartphone,6,Chrome Mobile,0,0

In [6]:
del ab['auction_id'] # The 'Auction ID' will not be investigated for this study.
#ab.head()

In [7]:
# Check for nulls: No nulls found, data complete.
ab.isnull().sum()

experiment     0
date           0
hour           0
device_make    0
platform_os    0
browser        0
yes            0
no             0
dtype: int64

In [8]:
# Check for nas: No nas found, data complete.
ab.isna().sum()

experiment     0
date           0
hour           0
device_make    0
platform_os    0
browser        0
yes            0
no             0
dtype: int64

In [9]:
#  Date Range
min(ab['date']), max(ab['date'])

('2020-07-03', '2020-07-10')

#### Exploratory Data Analysis

In [ ]:
df.drop(df.columns[[0, 4, 2]], axis=1, inplace=True)
  
df

In [ ]:
cont2x2_data = ab.drop(ab.columns[[1,2,3,4,5]], axis=1, inplace=False)

In [24]:
cont2x2_data

     experiment  yes  no
0       exposed    0   0
1       exposed    0   0
2       exposed    0   1
3       control    0   0
4       control    0   0
...         ...  ...  ..
8072    exposed    0   0
8073    control    0   0
8074    control    0   0
8075    exposed    0   0
8076    control    0   0

[8077 rows x 3 columns]

In [29]:
tab = pd.crosstab(ab['experiment'], [ab['yes'],ab['no']] )
tab

In [30]:
tab

yes            0         1
no             0    1    0
experiment
control     3485  322  264
exposed     3349  349  308

In [33]:
import statsmodels.api as sm

table = sm.stats.Table.from_data(cont2x2_data)

In [34]:
print(table.table_orig)

yes            0    1
experiment
control     3807  264
exposed     3698  308

In [35]:
print(table.fittedvalues)

yes                   0           1
experiment
control     3782.698403  288.301597
exposed     3722.301597  283.698403

In [36]:
print(table.resid_pearson)

yes                0         1
experiment
control     0.395124 -1.431236
exposed    -0.398317  1.442801

## Description of variables

VariableName 	Description
auction_id 	the unique id of the online user who has been presented the BIO. In standard terminologies this is called an impression id. The user may see the BIO questionnaire but choose not to respond. In that case both the yes and no columns are zero.
experiment 	which group the user belongs to - control or exposed. Control: users who have been shown a dummy ad. Exposed: users who have been shown a creative, an online interactive ad, with the SmartAd brand.
date 	the date in YYYY-MM-DD format
hour 	the hour of the day in HH format
device_make 	the name of the type of device the user has e.g. Samsung
platform_os 	the id of the OS the user has.
browser 	the name of the browser the user uses to see the BIO questionnaire.
yes 	1 if the user chooses the “Yes” radio button for the BIO questionnaire.
no 	1 if the user chooses the “No” radio button for the BIO questionnaire.

In [18]:
data_crosstab = pd.crosstab([ab['experiment'], ab['yes'], ab['no']], 'Totals', margins = True)
data_crosstab

col_0              Totals   All
experiment yes no
control    0   0     3485  3485
               1      322   322
           1   0      264   264
exposed    0   0     3349  3349
               1      349   349
           1   0      308   308
All                  8077  8077